<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include('../partials/head.ejs'); %>
    <link href="css/style-index.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link href="css/reset.css" rel="stylesheet" media="all">
    <link href="css/navbar.css"rel="stylesheet" media="all">
    <link href="css/footer.css" rel="stylesheet" medial="all">
    <script src="js/index.js"></script>
    <title><%= title %></title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <body>
    <main>
      <div id="main-container"
        class="container-fluid d-flex flex-column  align-itens-center justify-content-center py-4">
        <div class="text-center text-dark">
          <h1>Bem-vindo ao sistema!</h1>
          <h3>Sinta-se a vontade para utilizar nossas ferramentas!</h3>
        </div>
      </div>

      <div id="container-about" class="container-fluid text-light d-flex flex-row align-items-center py-4 justify-content-evenly">
        <img class="w-75 h-100"src="img/tomate1.jpg" alt="projeto img">
        <div class="container-sm py-4 px-4 mx-4 my-4 order-1">
          <h1 class="mb-4">Sobre o projeto:</h1>
          <p> A aquaponia é um sistema para cultivo baseado na integração do sistema hidropônico (cultivo de plantas) e o sistema de aquicultura (cultura de peixes). Diante disto, este trabalho apresenta o processo de desenvolvimento de um sistema criado com intuito de auxiliar, por meio da automatização, as dificuldades encontradas no manejo do cultivo do tomateiro em um sistema de Aquaponia. O cenário do processo de cultivo para embasamento do trabalho está localizado no Instituto Federal Catarinense - Câmpus Rio do Sul, SC.</p>
        </div>
      </div>

      <div id="container-about-2"
        class="container-fluid d-flex text-light flex-row align-items-center py-4 justify-content-evenly">
        <img class="order-1 w-75 h-100"src="img/tomate2.jpg" alt="projeto img">
        <div class="container-sm py-4 px-4 mx-4 order-0">
          <h1 class="mb-4">Sobre o projeto:</h1>
          <p> O desenvolvimento do trabalho foi realizado através da linguagem Javascript, com integração do Node.js, juntamente ao framework Express.js e o Banco de Dados MongoDB. A proposta visa automatizar uma parcela das dificuldades encontradas, como checagem de dados de sensores e acionamento dos motores presentes nos sistemas. A implantação do sistema não foi possível, porém foi construída uma maquete a fim de demonstrar o sistema em funcionamento de forma semelhante ao projeto original, em menores escalas.</p>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>

</html>