<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link href="css/style-index.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link href="css/reset.css" rel="stylesheet" media="all">
    <link href="css/navbar.css"rel="stylesheet" media="all">
    <link href="css/footer.css" rel="stylesheet" medial="all">
    <script src="js/index.js"></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %> 
    </header>
    <main style="background-color: rgb(33, 31, 128);"class=" text-light d-flex flex-column align-items-center justify-content-center vw-100 vh-100">
        <h1 class="mb-4 text-danger">vose acaba de acessar a pagina secreta do ricardo!!!!!!!!!!</h1>
        <button type="button" onClick="aparecer()" class="btn btn-outline-danger"id="botao-do-ricardo">clique para ativar o ricardo</button>
        <img class="mt-3"id="ricardoimagem"style="display: none; border-radius: 20px;" src="img/celta-rebaixado-prata-fotos.jpg" alt="ricardo">
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>