nav.navbar{
    background-color: #0a211c;  /* fallback for old browsers */
    font-weight: 800;
}

div.offcanvas-header{
    background-color: #0a211c;
}

nav li.nav-item {
    margin-bottom: 8px;
}


.offcanvas-body{
    background-color: #003328;
}
nav li.nav-item {
    background: #003328;
}
