nav.navbar{
    background-color: #141345;  /* fallback for old browsers */
    font-weight: 800;
}

div.offcanvas-header{
    background-color: #141345;
}

nav li.nav-item {
    margin-bottom: 8px;
}


.offcanvas-body{
    background-color: #141345;
}
nav li.nav-item {
    background-color: #272594;
}

.navbar-brand img{
     width: 200px;
     height: auto;
}

.nav-item a{
    font-size: 1.4rem;
}