main{
  background: rgb(79,224,138);
  background: linear-gradient(to left, rgba(79,224,138,1) 0%, rgba(39,37,148,1) 100%);
}

.container-sm{
  background-color: #141345 !important;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}