main {
    background: rgb(60, 211, 173);
    background: linear-gradient(
      90deg,
      rgba(60, 211, 173, 1) 0%,
      rgba(62, 143, 152, 1) 100%
    );
}

div.container-sm {
    background-color: #003328 !important;
    border-radius: 20px;
}

.btn{
    background-color: #9cf3e0 !important;
}

input.date{
    border-radius: 4px;
}