

/* Estilização Div main */

#main-container{
    width: 100vw;
    height: 60vh;
}
#main-container h1, #main-container h3{
    font-weight: 800;
    text-shadow: black 5px 5px 15px;
}

#main-container {
    background: rgb(33, 31, 128);
    backdrop-filter: blur(3px);
}

#container-about-2 div {
    background-color: #4FE08A;
}

#container-about {
    background-color: #4FE08A;
}

#container-about div {
    background-color: #4FE08A;
}

#container-about-2 {
    background-color: #4FE08A;
}

@media (max-width: 1200px){
    #container-about {
        flex-wrap: wrap;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: justify;
    }
    #container-about-2{
        flex-wrap: wrap;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: justify;
    }
}

h1, h3, p{
    text-shadow: 1px;
}

#container-about-2 img, #container-about img{
    border-radius: 10px;
    box-shadow: rgb(34, 34, 34) 5px 5px 20px;
}


