@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: bold;
  overflow-y: hidden;
}

body {
  background-color: #202020;
}

.container-fluid {
  background: rgb(60, 211, 173);
  background: linear-gradient(
    90deg,
    rgba(60, 211, 173, 1) 0%,
    rgba(62, 143, 152, 1) 100%
  );
  box-shadow: 20px 10px 10px;
}

.container-sm form input {
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 20px;
  color: white;
  font-weight: 800;
}
.container-sm form input::after {
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 20px;
  text-align: center;
  color: white;
}
