.carousel-control-prev, .carousel-control-next{
    margin-top:200px;
}

main.container-fluid {
    background: rgb(79,224,138);
    background: linear-gradient(to left, rgba(79,224,138,1) 0%, rgba(39,37,148,1) 100%); 
}

.carousel {
    background-color: #141345 !important;
    border-radius: 20px;
}
