main {
    background: rgb(79,224,138);
    background: linear-gradient(to left, rgba(79,224,138,1) 0%, rgba(39,37,148,1) 100%);
}

div.container-sm {
    background-color: #32A868 !important;
    border-radius: 20px;
}

.btn{
    background-color: #3BC479 !important;
    
}

input.date{
    border-radius: 4px;
}