.carousel-control-prev, .carousel-control-next{
    margin-top:200px;
}

main.container-fluid {
    background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.carousel {
    background-color: #003328 !important;
    border-radius: 20px;
}
