
body {
  background-color: #141345;
}

.container-fluid {
  background: rgb(71, 204, 124);
  background: linear-gradient(to left, rgb(71, 204, 124) 0%, rgba(39,37,148,1) 100%); 
}

.container-sm form input {
  background-color: #141345;
  border-radius: 20px;
  box-shadow: 20px;
  color: white;
  font-weight: 800;
}
.container-sm form input::after {
  background-color: #141345;
  border-radius: 20px;
  box-shadow: 20px;
  text-align: center;
  color: white;
}

h1, h3 {
  font-weight: 800;
}

#card h1, #card h3{
  color: white !important;
  font-weight: bolder;
}

#card-2 h1, #card-2 h3{
  color: white !important;
  font-weight: bolder;
}
form input::placeholder {
  font-weight: 800;
}

.btn {
  background-color: #202020 !important;
  color: white !important;
  font-weight: 800;
}

