

/* Estilização Div main */

#main-container{
    width: 100vw;
    height: 60vh;
}
#main-container h1, #main-container h3{
    font-weight: 800;
}

#main-container {
    background: rgb(60, 211, 173);
    background: linear-gradient(
      90deg,
      rgba(60, 211, 173, 1) 0%,
      rgba(62, 143, 152, 1) 100%
    );
}

#container-about-2{
    background-color: #003328;
}

#container-about-2 div {
    background-color: #003328;
}

#container-about {
    background-color: rgb(218, 227, 255);
}

#container-about div {
    background-color: rgb(218, 227, 255);
}

@media (max-width: 1200px){
    #container-about {
        flex-wrap: wrap;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: justify;
    }
    #container-about-2{
        flex-wrap: wrap;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: justify;
    }
}

h1, h3, p{
    text-shadow: 1px;
}



